body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: #303030;
}

label {
    font-weight: bold;
}

/* Estilização da tela de login */
.container-login {        
    border-radius: 20px;  
    width: 80%;
    height: 600px;      
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    margin-top: 100px;  
}

.background-login {     
    background-color: #FAFAFA;  
    opacity: 90%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 30px;      
    box-sizing: border-box; 
    position: relative; 
}

.background-login h2 {        
    background: linear-gradient(45deg, #fb590e, #bd18e6, #4b25ea,#bd18e6, #4b25ea);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 50px;    
}

.login {
    background-color: white;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 30px;
    box-sizing: border-box; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.login h2 {
    font-size: 28px;
    margin-bottom: 45px;
}

.login form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login label {
    margin-bottom: 10px;           
}

.login input {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
    border: none; 
    border-bottom: 1px solid #ddd; 
    border-radius: 0;
    outline: none; 
    width: 300px;
}

.login input:focus {
    border-bottom-color: #303030; 
}

.login button {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    background: linear-gradient(45deg, #4b25ea, #bd18e6, #fb590e);
    color: white;
    cursor: pointer;
    transition: background 0.3s ease, box-shadow 0.3s ease, transform 0.6s ease; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    text-align: center; 
    width: 150px;
    margin-top: 20px;         
    box-shadow: 0 10px 20px 0 rgb(0 0 0 / 23%);   
}

.login button:hover {
    opacity: 50%;
    color: white;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); 
    transform: scale(1.05); 
}

.login a {          
    text-decoration: none;
    color: #303030;
}

.login a:hover {
    text-decoration: underline;
}

.container-senha {
    position: relative;
    width: 100%;
}

.container-senha i {
    position: absolute;
    top: 30%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 20px;
    color: #303030;
}

.recuperar-senha {
    text-decoration: none !important;
    color: inherit !important;   
    font-size: 12px;        
}

.recuperar-senha:hover {
    text-decoration: none !important;            
    background: linear-gradient(45deg, #4b25ea, #bd18e6, #fb590e) !important;
    background-clip: text !important;
    -webkit-background-clip: text !important;
    color: transparent !important;  
}

footer {
    margin-top: auto;
    text-align: center;
    width: 100%;
    padding: 20px 0;         
    font-size: 12px;  
}

/* Estilização da tela de cadastrar alunos */
.cadastro-alunos {
    width: 50%; 
    height: 400px;
    margin: 50px auto; 
    padding: 30px; 
    border-radius: 15px; 
    background-color: #ffffff; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
}
.cadastro-alunos h2 {
    text-align: center; 
    margin-bottom: 20px; 
}

.btn-cadastrar, .btn-atualizar {
    text-align: center;
}

.btn-cadastrar button, .btn-atualizar button {
    width: 200px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    background: linear-gradient(45deg, #4b25ea, #bd18e6, #fb590e);
    color: white;
    cursor: pointer;
    transition: background 0.3s ease, box-shadow 0.3s ease, transform 0.6s ease; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    text-align: center;   
    margin-top: 20px;         
    box-shadow: 0 10px 20px 0 rgb(0 0 0 / 23%);   
}

.btn-cadastrar button:hover, .btn-atualizar button:hover {
    opacity: 50%;
    color: white;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); 
    transform: scale(1.05); 
}

#mensagem-retorno-cadastro {
    text-align: center;
}

/* Estilização da tela do painel administrativo (dashboard) */
.container-fluid {
    padding: 0;
}

.menu {
    display: flex;
    align-items: center;
    background-color: #FAFAFA;
}

.row {
    margin: 0;
}

.menu-center {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.tab-nav {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #FAFAFA;    
    padding: 10px 0;
}

.dropdown {
    position: relative;
    text-decoration: none;
}

.dropdown-toggle, .nav-link {
    background-color: white;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 20px;
    color: #303030;
    transition: 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    text-decoration: none !important;
}

.dropdown-toggle:hover, .nav-link:hover {
    opacity: 80%;
    background: linear-gradient(45deg, #4b25ea, #bd18e6, #fb590e) !important;
    background-clip: text !important;
    -webkit-background-clip: text !important;
    color: transparent !important;
    border-radius: 20px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    z-index: 1000;
}

.dropdown-menu .dropdown-item {
    padding: 10px;
    text-decoration: none;
    color: #303030;
    display: block;
    background-color: white !important;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #f8f8f8;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-item:hover {
    border-color: white;
    transition: 0.3s;    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);    
    opacity: 80%;  
    background: linear-gradient(45deg, #4b25ea, #bd18e6, #fb590e) !important;
    background-clip: text !important;
    -webkit-background-clip: text !important;
    color: transparent !important;
    border-radius: 20px;
}

.tab-content {
    padding: 20px;
    display: none;
}

.tab-content:target {
    display: block;
}

.menu h2 {        
    background: linear-gradient(45deg, #fb590e, #bd18e6, #4b25ea,#bd18e6, #4b25ea);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 50px;
    margin-top: 8px;
    padding: 10px;
}

.logout {
    padding: 10px 20px;
    border-radius: 20px;
    background: linear-gradient(45deg, #4b25ea, #bd18e6, #fb590e);
    transition: background 0.3s ease, box-shadow 0.3s ease, transform 0.6s ease;
    border: none;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.logout:hover {
    opacity: 50%;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
}

.btn-logout {
    color: white;
    font-size: 14px !important;
    text-decoration: none;
}

.deslogar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col-md-6 {
    padding: 0;
}

/* Estilização da tela de listar alunos */
.listar-alunos h2 {
    text-align: center;
    margin-bottom: 50px;
}

.btn-editar {
    background:#bd18e6 ;
    color: white;
}

.modal-dialog.custom-width {
    max-width: 55%; 
}

.btn-fechar {
    color: black;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close {
    border-radius: 45%;
}



